<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

<!-- container -->
  <body>
    <h1><%= @title %></h1>
<!-- full page image -->

   <img src="" alt="">

    <h2>quote</h2>



    <h3>Comparative You</h3>
    <p>Hearing your inner critic?</p>
    <p>Perhaps you're the child of a Tiger Mom</p>
    <p>It's common to suffer from comparative attack...</p>

    <p>more lines of content more lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of contentmore lines of content</p>


  </body>
  <!-- end container -->
</html>