<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

<!-- container -->
  <body>

     <nav>
       <li><a href="/submit">Submit a mantra</a></li>
       <li><a href="/about">About</a></li>
     </nav>
  <!-- full page image -->

     <div class='image-container'>


      <div class='quote-container'>
        <h2>'Comparison is the death of joy.'</h2>
        <h3>-Mark Twain</h3>
      </div>


    </div>

    <div class='below-image'>

      <div class='text-container'>
      <h4>Comparative You</h4>
      <p>Get some fresh and relax.  Life is good.</p>
      </div>

    </div>


  </body>
  <!-- end container -->
</html>