<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <h1><%= @title %></h1>
    <p>This is a sample of what I want</p>

  </body>
</html>