  <div class=<%= @pic %>>
      <div class="splash">
          <h1 class="splash-head"><a class='submitted-mantra' href="/"><%= @your_mantra %></a></h1>
      </div>
  </div>


  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center"><a href="/">Comparative You.</a></h2>
    </div>
  </div>
