<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <h1><%= @title %></h1>
    <p>Have you overcome a comparative attack?  Share your guiding mantra below</p>
    <form action="/submit" method="post">
          Enter your Mantra
      <input type="text" name="mantra">
<!--       this is where i'm getting the name of params value [:mantra] -->
      <input type="submit">
    </form>

  </body>
</html>