<div class="content-wrapper">
  <div class="content">
    <h1><%= @title %></h1>
    <p>Have you overcome a comparative attack?  Share your guiding mantra below</p>
    <form action="/submit" method="post">
      Enter your Mantra
    <input type="text" name="mantra">
    <input type="submit">
    </form>
  </div>
</div>

<!--       this is where i'm getting the name of params value [:mantra] -->
