<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <h1><%= @title %></h1>
    <p>Have you overcome a comparative attack?  Share your guiding mantra below</p>
    <form action="submit" method="post">
      <label for="POST-name">Name:</label>
      <input id="POST-name" type="text" name="name">
      <input type="submit" value="Save">
    </form>
<!--     refactor the above form stuff until you understand what it is doing -->



  </body>
</html>