/*store this in a public directory*/


* {
   border: 1px dotted red !important;
}


/* put the background image in a container that is fixed if you put it in the body it's not a bad back-up */

nav {
  text-align: right;
  font-family: sans-serif;
  padding-right: 10px;
}

nav li {
  display: inline;
  padding: 5px;
  margin: 5px;
}

.image-container {
  position: fixed;
  height: 43em;
  position: relative;
  width: 100%;
  z-index: 0;
}

.quote-container {
  margin: 0;
  padding: 15px;
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  border-radius: 16px;
  transform: translate(-50%, -50%)
}

.quote-container h2 {
  font-family: sans-serif;
  font-size: 3em;
  color: yellow;
}

.quote-container h3 {
  text-align: right;
  font-size: 1.5em;
  padding-right: 2%;
}

.below-image {
  margin: 0;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
  display: block;
}

.text-container {
  width: 50%;
  margin: 0 auto;
}

h4 {
  font-size: 20px;
  color: blue;
  font-family: sans-serif;
}

p {
  font-size: 16px;
  color: blue;
  font-style: underline;
  font-family: sans-serif;
}

