<h1 class='faq-head'>COMING SOON!</h1>

<!--   <div class="faq-container">
    <div class='faq'>
      <h1 class='faq-head'>Why Comparative You?</h1>
      <h4>Comparative Attacks.</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa iure tempore quibusdam impedit. Quos alias nulla nihil officiis dolores quisquam totam laudantium dicta, sunt quo rerum velit, rem maiores culpa.</p>
      <h4>Another Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur non omnis necessitatibus eius mollitia fugiat, dignissimos voluptas ratione quaerat possimus, ipsam rem autem beatae voluptatum quis! Ab autem, suscipit soluta?</p>
      <h4>Yet another Title</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci quod alias incidunt fugit facilis, veritatis, quibusdam. Alias totam sequi error officiis tempora illo consectetur sapiente veniam accusantium. Nesciunt, ea!</p>
    </div>
  </div> -->



