
  <!-- full page image -->


  <div class=<%= @pic %>>
      <div class="splash">
          <h1 class="splash-head"><%= @mantra.mantra %></h1>
      </div>
  </div>


  <div class="content-wrapper">
    <div class="content">
        <h2 class="content-head is-center">Comparative You.</h2>

        <div class="pure-g">
          <div class='box-container'>
            <div class="l-box pure-u-1 pure-u-lg-1-2">

                <h3 class="content-subhead">
                    Self-worth through comparison
                </h3>
                <p>
                    The act of comparing yourself to others can be valuable, but it can also be toxic.  The feeling of inferiority that come from constant comparisons and self-judgment can block you before you get started.
                </p>
                <p>
                   Many smart, driven people suffer from comparative attacks.  A common phenomenon is <a href="http://en.wikipedia.org/wiki/Impostor_syndrome" target="_blank">imposter syndrome</a>, which makes people unable to internalize their accomplishments.
                </p>

                <p><span class='emphasis'>You are on your own journey and have the right to your own experience.</span></p>
            </div>
            <div class="l-box pure-u-1 pure-u-lg-1-2">
                <h3 class="content-subhead">
                    Battling Comparative Attacks
                </h3>
                <p>
                    Whether it be pictures with motivational text, meditation or a change of environment, whatever you can do to quell comparative attacks before they turn into a negative spiral is crucial.
                </p>
                <p>
                   Mantras are words, sounds or phrases that are repeated to aid concentration.  Often they help anchor us and allow us to move forward or past a comparative attack.
                </p>
                <p>
                  <a href="/submit">Submit your mantra.</a>
                </p>
            </div>
          </div>
        </div>
    </div>



    <div class="content">
        <h2 class="content-head is-center center-width">"How much time he gains who does not look to see what his neighbour says or does or thinks, but only at what he does himself, to make it just and holy."</h2>
        <h3 class='content-head is-center'>-Marcus Aurelius</h3>
    </div>
  </div>
