<div class="submit-container">
  <div class="submit">
    <h1 class='submit-head'>Have you overcome a comparative attack? <br/> Share your guiding mantra below</h1>
    <form class='pure-form submit-mantra' action="/submit" method="post">
      your mantra (70 character max)
    <input type="text" name="mantra"  maxlength="70">
    <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </form>
  </div>
</div>

<!--       this is where i'm getting the name of params value [:mantra] -->
